<?php

use Phinx\Migration\AbstractMigration;

class $className extends AbstractMigration
{
    private $sql = array();

    /**
     * Change Method.
     *
     * More information on this method is available here:
     * http://docs.phinx.org/en/latest/migrations.html#the-change-method
     *
     * Uncomment this method if you would like to use it.
     *
    public function change()
    {
    }
    */
    
    /**
     * Migrate Up.
     */
    public function up()
    {
        $this->statement( 'YOUR_QUERY_GOES_HERE' );

        $this->run();
    }

    /**
     * Migrate Down.
     */
    public function down()
    {
        $this->statement( 'YOUR_QUERY_GOES_HERE' );

        $this->run();
    }

    /**
    * Will add a sql statement
    */
    private function statement( $query )
    {
        $this->sql[] = $query;

        return $this;
    }

    /**
    * Will run a sql statement set
    */
    private function run()
    {
        if( empty( $this->sql ) )
            throw new \Exception( 'You did not provide an SQL statements to run' );

        $dbAdapter = $this->getAdapter();
        $dbAdapter->beginTransaction();

        try
        {
            foreach( $this->sql as $query )
            {
                $this->execute( $query );
            }

            $dbAdapter->commitTransaction();
        }
        catch( \Exception $e )
        {
            $dbAdapter->rollbackTransaction();

            throw $e;
        }
    }
}